@model IEnumerable<Utenti>
@{
	ViewData["Title"] = "ElencoUtenti";
}

<h1>Elenco Utenti</h1>
<hr />
<table class = "table table-bordered">
	<tr>
		<th>ID Prodotto</td>
		<th>Nome</td>
		<th></th>
	</tr>
	@foreach (var item in Model)
	{
						<tr>
							<td>@item.Id</td>
							<td>@item.Nome</td>
						</tr>
	}
</table>