@{
    ViewData["Title"] = "NuovoUtente";
}

<h1>Inserisci un nome per creare il tuo profilo!</h1>
<form method="post">
    <div class = "container">
        <div class="row">
            <div class="col">
                Nome:
            </div>
            <div class ="col">
                <input type="text" name="Nome" required/>
            </div>
        </div>
        <div class="col">
            <input type="submit" value="Salva"/>
        </div>
    </div>
</form>